.animation-elements {
  #logo-elements {
    & path {
      animation-name: color-reverse;
      animation-duration: 3000ms;
      animation-iteration-count: 1;

      &:first-child {
        animation-name: color-change;
      }
    }
  }
}


@keyframes color-change {
  0% {
    fill: rgb(199, 166, 18);
  }

  50% {
    fill: rgb(136, 189, 11);
  }

  100% {
    fill: rgb(199, 166, 18);
  }
}

@keyframes color-reverse {
  0% {
    fill: rgb(136, 189, 11);
  }

  50% {
    fill: rgb(199, 166, 18);
  }

  100% {
    fill: rgb(136, 189, 11);
  }
}