// size screen

$wide-sz: 1200px;

// color

$main-cl: #ffffff;
$bg-cl: #555555;
$other-contrast-cl: #4b4b4b;

// animation
$animation-duration: 5s;
$animation-iteration: infinite;

$stop-cl-1: rgb(240, 142, 13);
$stop-cl-2: rgb(205, 237, 43);
$stop-cl-3: rgb(83, 168, 37);
